<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.FolderDao">
    <update id="modifyFolder" parameterType="Folder">
        UPDATE user_folder 
        <set>
            <if test="folderName != null">
                ,name = #{folderName}
            </if>
            <if test="createTime != null">
                ,createTime = #{createTime}
            </if>
            <if test="parentId != null">
                ,parentId = #{parentId}
            </if>

            <if test="d_flag != null">
                ,d_flag = #{d_flag}
            </if>
            <if test="s_flag != null">
                ,s_flag = #{s_flag}
            </if>
        </set>
        WHERE id = #{folderId}
    </update>


    <select id="inquireFolderById" resultType="Folder">
        SELECT id folderId ,createTime,name folderName,userId,parentId,d_flag,s_flag
        FROM user_folder WHERE id=#{folderId}
    </select>

    <select id="inquireFolder" resultType="Folder">
        SELECT id folderId ,createTime,name folderName,userId,parentId,d_flag,s_flag
        FROM user_folder WHERE id=#{folderId} AND userId=#{userId}
    </select>

    <delete id="removeFolder" parameterType="Folder">
        DELETE FROM user_folder WHERE userId=#{userId} AND id=#{folderId}
    </delete>

    <insert id="addFolder" useGeneratedKeys="true" keyColumn="id" keyProperty="folderId" parameterType="Folder">
        INSERT INTO user_folder(name,userId,parentId,s_flag,d_flag)
        VALUES(#{folderName},#{userId},#{parentId},#{s_flag},#{d_flag})
    </insert>

</mapper>