<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.FolderDao">
    <update id="modifyFolder" parameterType="Folder">
        UPDATE user_folder 
        <set>
            <if test="folderName != null">
                ,name = #{folderName}
            </if>
            <if test="createTime != null">
                ,createTime = #{createTime}
            </if>
            <if test="parentId != null">
                ,parentId = #{parentId}
            </if>

            <if test="deleteFlag != null">
                ,d_flag = #{deleteFlag}
            </if>
            <if test="shareFlag != null">
                ,s_flag = #{shareFlag}
            </if>
            <if test="collect != null">
                ,collect = #{collect}
            </if>
        </set>
        WHERE id = #{folderId}
    </update>

    <resultMap id="folder" type="Folder">
        <result property="folderId" column="id" />
        <result property="createTime" column="createTime" />
        <result property="folderName" column="name" />
        <result property="userId" column="userId" />
        <result property="parentId" column="parentId" />
        <result property="deleteFlag" column="d_flag" />
        <result property="shareFlag" column="s_flag" />
        <result property="collect" column="collect" />

    </resultMap>
    <select id="inquireFolderById" resultMap="folder" >
        SELECT id  ,createTime,name ,userId,parentId,d_flag ,s_flag ,collect
        FROM user_folder WHERE id=#{folderId}
    </select>


    <select id="inquireFolder" resultMap="folder">
        SELECT id  ,createTime,name ,userId,parentId,d_flag,s_flag,collect
        FROM user_folder WHERE id=#{folderId} AND userId=#{userId}
    </select>

    <delete id="removeFolder" parameterType="Folder">
        DELETE FROM user_folder WHERE userId=#{userId} AND id=#{folderId}
    </delete>

    <insert id="addFolder" useGeneratedKeys="true" keyColumn="id" keyProperty="folderId" parameterType="Folder">
        INSERT INTO user_folder(name,userId,parentId,s_flag,d_flag,collect)
        VALUES(#{folderName},#{userId},#{parentId},#{shareFlag},#{deleteFlag},#{collect})
    </insert>


    <select id="inquireParent" resultMap="folder">
        SELECT id ,createTime,name ,userId,parentId,d_flag,s_flag,collect
        FROM user_folder WHERE parentId = #{id}
    </select>


    <select id="inquireCollectFolder" resultMap="folder">
        SELECT id ,createTime,name ,userId,parentId,d_flag,s_flag,collect
        FROM user_folder WHERE d_flag=#{isRecycle} AND userId=#{userId} AND collect=#{collect}
    </select>


    <select id="inquireFolders" resultMap="folder">
        SELECT id ,createTime,name ,userId,parentId,d_flag,s_flag,collect
        FROM user_folder
        WHERE   userId = #{userId}
        AND d_flag=#{isRecycle}
        <if test="parentId != null" >AND parentId = #{parentId}</if>
        <if test="isCollect != null">AND collect = #{isCollect}</if>
    </select>



    <!--inquireUserFolders-->
    <select id="inquireUserFolders" resultType="Folder">
        SELECT id folderId,name folderName ,createTime,collect,s_flag share FROM user_folder
        WHERE   userId = #{userId}
        AND d_flag=#{isRecycle}
        <if test="parentId != null" >AND parentId = #{parentId}</if>
        <if test="isCollect != null">AND collect = #{isCollect}</if>
    </select>

    <!--<select id="inquireUserFolderById" resultType="FolderDTO">
        SELECT id folderId,name folderName ,createTime,collect,s_flag share FROM user_folder WHERE id = #{folderId}
    </select>-->


    <insert id="addUserFolder"  useGeneratedKeys="true" keyColumn="id"  keyProperty="folderId">
        INSERT INTO user_folder(name,userId,parentId) VALUES(#{folderName},#{userId},#{parentId})
    </insert>


</mapper>