<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.UserShareResourceDao">

    <update id="modifyShareResource">
        UPDATE user_share_resource
        <set>
            <if test="shareName != null">
                ,shareName=#{shareName}
            </if>
            <if test="fetchCode != null">
                ,fetchCode=#{fetchCode}
            </if>
            <if test="createTime != null">
                ,createTime=#{createTime}
            </if>
            <if test="survivalTime != null">
                ,survivalTime=#{survivalTime}
            </if>
            <if test="clicks != null">
                ,clicks=#{clicks}
            </if>
            <if test="downloads != null">
                ,downloads=#{downloads}
            </if>
            <if test="type != null">
                ,type=#{type}
            </if>
        </set>
    </update>

    <insert id="addShareResource" parameterType="ShareResource">
        INSERT INTO user_share_resource(shareName,u_id,u_r_id,fetchCode,survivalTime,clicks,downloads,type)
        VALUES(
              #{shareName}
              ,#{userId}
              ,#{userResourceId}
              ,#{fetchCode}
              ,#{survivalTime}
              ,#{clicks}
              ,#{downloads}
              ,#{type}
              )
    </insert>

    <resultMap id="sResource" type="ShareResource">
        <result column="id" property="id"/>
        <result column="shareName" property="shareName"/>
        <result column="fetchCode" property="fetchCode"/>
        <result column="u_id" property="userId"/>
        <result column="u_r_id" property="userResourceId"/>
        <result column="createTime" property="createTime"/>
        <result column="survivalTime" property="survivalTime"/>
        <result column="clicks" property="clicks"/>
        <result column="downloads" property="downloads"/>
        <result column="type" property="type"/>
    </resultMap>
    <!--List<ShareResource> inquireShareResourceByUid(int u_id);-->
    <select id="inquireShareResourceByUid" resultMap="sResource">
        SELECT id,shareName,u_id,u_r_id,fetchCode,createTime,survivalTime,clicks,downloads,type
        FROM  user_share_resource
        WHERE u_id = #{userId}
    </select>

    <delete id="delelteShareResourceByRName" >
        DELETE  FROM user_share_resource WHERE u_id = #{userId} AND shareName = #{shareName}
    </delete>

    <select id="inquireShareResourceBysName" resultMap="sResource">
        SELECT id,shareName,u_id,u_r_id,fetchCode,createTime,survivalTime,clicks,downloads,type
        FROM  user_share_resource
        WHERE shareName = #{shareName}
    </select>

    <!-- 涉及文件夹表 用户资源表 和 分享表 三表模糊查询联查 -->
    <select id="inquireShareResourceBySSName" resultMap="sResource">

    </select>


    <update id="incrClicks" >
        UPDATE user_share_resource SET clicks = clicks + 1
        WHERE shareName = #{shareName}
    </update>

    <update id="incrDowloads" >
        UPDATE user_share_resource SET downloads = downloads + 1
        WHERE shareName = #{shareName}
    </update>


    <delete id="delelteShareResourceByURId" >
        DELETE FROM user_share_resource WHERE  u_r_id = #{id}
    </delete>
</mapper>