<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.UserDao">

     <select id="inquireBySequence" parameterType="User"  resultType="User">
        SELECT userId id,userName FROM user WHERE userName = #{userName} AND sequence = #{sequence}
     </select>

    <select id="inquireByPsw" parameterType="User" resultType="User">
        SELECT userId id,userName FROM user WHERE userName = #{userName} AND password = #{password}
    </select>

    <select id="inquireByName" parameterType="User" resultType="User">
        SELECT userId id,userName,profile,intro,email FROM user WHERE userName = #{userName}
    </select>


    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        INSERT  INTO user(userName,password) VALUES(#{userName},#{password});
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user
        <set>
            <if test="userName != null" >
                ,userName = #{userName}
            </if>
            <if test="password != null">
                ,password = #{password}
            </if>
            <if test="sequence != null">
                ,sequence = #{sequence}
            </if>
            <if test="profile != null">
                ,profile = #{profile}
            </if>
            <if test="intro != null">
                ,intro = #{intro}
            </if>
            <if test="email != null">
                ,email = #{email}
            </if>
        </set>
         WHERE userId = #{id}
    </update>

    <select id="inquireById" resultType="User">
        SELECT userId id,userName,password,sequence,profile,intro FROM user
        <where>
            <if test="userId != null"> userId = #{userId}</if>
        </where>
    </select>

</mapper>