<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.UserShareResourceDao">

    <update id="modifyShareResource">
        UPDATE user_share_resource
        <set>
            <if test="shareName != null">
                ,shareName=#{shareName}
            </if>
            <if test="originalName != null">
                ,originalName=#{originalName}
            </if>
            <if test="fetchCode != null">
                ,fetchCode=#{fetchCode}
            </if>
            <if test="createTime != null">
                ,createTime=#{createTime}
            </if>
            <if test="survivalTime != null">
                ,survivalTime=#{survivalTime}
            </if>
            <if test="clicks != null">
                ,clicks=#{clicks}
            </if>
            <if test="downloads != null">
                ,downloads=#{downloads}
            </if>
        </set>
    </update>

    <insert id="addShareResource" parameterType="ShareResource">
        INSERT INTO user_share_resource(shareName,originalName,u_id,u_r_id,fetchCode,createTime,survivalTime,clicks,downloads)
        VALUES(
              #{shareName}
              ,#{originalName}
              ,#{userId}
              ,#{userResourceId}
              ,#{fetchCode}
              ,#{createTime}
              ,#{survivalTime}
              ,#{clicks}
              ,#{downloads}
              )
    </insert>

    <resultMap id="sResource" type="ShareResource">
        <result column="id" property="id"/>
        <result column="originalName" property="originalName"/>
        <result column="shareName" property="shareName"/>
        <result column="fetchCode" property="fetchCode"/>
        <result column="u_id" property="userId"/>
        <result column="u_r_id" property="userResourceId"/>
        <result column="createTime" property="createTime"/>
        <result column="survivalTime" property="survivalTime"/>
        <result column="clicks" property="clicks"/>
        <result column="downloads" property="downloads"/>
    </resultMap>
    <!--List<ShareResource> inquireShareResourceByUid(int u_id);-->
    <select id="inquireShareResourceByUid" resultMap="sResource">
        SELECT id,shareName,originalName,u_id,u_r_id,fetchCode,createTime,survivalTime,clicks,downloads
        FROM  user_share_resource
        WHERE u_id = #{u_id}
    </select>

</mapper>