<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.UserDao">

     <select id="inquireBySequence" parameterType="User"  resultType="User">
        SELECT userId id,userName FROM user WHERE userName = #{userName} AND sequence = #{sequence}
     </select>

    <select id="inquireByPsw" parameterType="User" resultType="User">
        SELECT userId id,userName FROM user WHERE userName = #{userName} AND password = #{password}
    </select>

    <select id="inquireByName" parameterType="User" resultType="User">
        SELECT userId id,userName FROM user WHERE userName = #{userName}
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE user
        <set>
            <if test="userName != null" >
                ,userName = #{userName}
            </if>
            <if test="password != null">
                ,password = #{password}
            </if>
            <if test="sequence != null">
                ,sequence = #{sequence}
            </if>
        </set>
         WHERE userId = #{id}
    </update>

</mapper>