<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turbine.tnd.dao.UserResourceDao">

    <update id="modifyResource" parameterType="UserResource">
        UPDATE user_resource
        <set>
            <if test="originalName != null">
                ,originalName = #{originalName}
            </if>

            <if test="encryptPsw != null">
                ,encryptPsw = #{encryptPsw}
            </if>

            <if test="encryption != null">
                ,encryption = #{encryption}
            </if>

            <if test="deleteFlag != null">
                ,d_flag = #{deleteFlag}
            </if>

            <if test="shareFlag != null">
                ,s_flag = #{shareFlag}
            </if>

            <if test="parentId != null">
                ,parentId = #{parentId}
            </if>
            <if test="collect != null">
                ,collect = #{collect}
            </if>
            <if test="thumbnail != null">
                ,thumbnail = #{thumbnail}
            </if>
        </set>
        WHERE id = #{id}

    </update>

    <delete id="removeResource" parameterType="UserResource">
        DELETE  FROM user_resource WHERE id = #{id} AND u_id = #{u_id}
    </delete>

    <resultMap id="uResource" type="UserResource">
        <id column="id" property="id"></id>
        <result column="u_id" property="u_id"></result>
        <result column="r_id" property="resourceId"></result>
        <result column="fileName" property="fileName"></result>
        <result column="uploadTime" property="uploadTime"></result>
        <result column="originalName" property="originalName"></result>
        <result column="encryptPsw" property="encryptPsw"></result>
        <result column="encryption" property="encryption"></result>
        <result column="d_flag" property="deleteFlag"></result>
        <result column="s_flag" property="shareFlag"></result>
        <result column="parentId" property="parentId"></result>
        <result column="collect" property="collect"></result>
        <result column="typeId" property="typeId"></result>
        <result column="thumbnail" property="thumbnail"></result>
    </resultMap>

    <select id="inquireUserResourceByName" resultMap="uResource" >
        SELECT id,u_id,r_id,fileName,typeId,uploadTime,originalName,encryptPsw,encryption,d_flag,s_flag,parentId,collect,thumbnail
        FROM user_resource
        WHERE u_id = #{u_id} AND fileName=#{fileId} AND parentId = #{parentId}
        <if test="fileName != null">
            AND originalName = #{fileName}
        </if>
    </select>

    <select id="inquireUserResourceById" resultMap="uResource" >
        SELECT id,u_id,r_id,fileName,typeId,uploadTime,originalName,encryptPsw,encryption,d_flag,s_flag,parentId,collect,thumbnail
        FROM user_resource
        WHERE id=#{userResourceId}
    </select>

    <select id="inquireUserResourceByrid" resultMap="uResource" >
        SELECT id,u_id,r_id,fileName,typeId,uploadTime,originalName,encryptPsw,encryption,d_flag,s_flag,parentId,collect,thumbnail
        FROM user_resource
        WHERE r_id=#{resourceId}
    </select>

    <insert id="addUserResource"  keyColumn="id" useGeneratedKeys="true" keyProperty="id" parameterType="UserResource">
        INSERT INTO user_resource(u_id,r_id,fileName,originalName,s_flag,d_flag,encryption,encryptPsw,parentId,typeId,collect,thumbnail)
        VALUES(#{u_id},#{resourceId},#{fileName},#{originalName},#{shareFlag},#{deleteFlag},#{encryption},#{encryptPsw},#{parentId},#{typeId},#{collect},#{thumbnail})
    </insert>


    <select id="countUserResource" resultType="Integer" >
        SELECT COUNT("id") FROM user_resource WHERE u_id = #{userId} AND r_id = #{resourceId}
    </select>

    <select id="inquireUserResourceByParentId" resultMap="uResource">
        SELECT id,u_id,r_id,fileName,uploadTime,originalName,encryptPsw,encryption,d_flag,s_flag,parentId,typeId,collect,thumbnail
        FROM user_resource
        WHERE parentId = #{parentId} AND u_id = #{userId} AND d_flag = #{deleteFlag};
    </select>


    <select id="inquireCollectUserResource"  resultMap="uResource">
        SELECT id,u_id,r_id,fileName,uploadTime,originalName,encryptPsw,encryption,d_flag,s_flag,parentId,typeId,collect,thumbnail
        FROM user_resource
        WHERE d_flag = #{isRecycle} AND u_id = #{userId} AND collect = #{collect};
    </select>


    <!--table : user_resource -->
    <insert id="addResourceUser">
        INSERT INTO user_resource(u_id,r_id,fileName,originalName,parentId,typeId) VALUES( #{u_id},#{resourceId},#{fileName},#{originalName},#{parentId},#{typeId} )
    </insert>
</mapper>